<img class="transition" src="./assets/img/transition.png" alt="transition" />
<div class="about-me-content" id="about-me">
  <div class="about-me-headline">
    <span>{{ "aboutMe.title" | translate }}</span>
    <p>
      {{ "aboutMe.description" | translate }}
    </p>
    <p>{{ "aboutMe.contactMe" | translate }}</p>
  </div>

  <div class="information">
    <div class="information-first">
      <img src="./assets/img/lamp.png" alt="" />
      <span>{{ "aboutMe.informationOne" | translate }}</span>
    </div>

    <div class="information-second">
      <img src="./assets/img/puzzle.png" alt="" />
      <span>{{ "aboutMe.informationTwo" | translate }}</span>
    </div>
  </div>

  <div class="splash-left">
    <img src="./assets/img/red-about-me.svg" alt="red splash" />
  </div>
  <div class="splash-right">
    <img src="./assets/img/orange-about-me.svg" alt="orange splash" />
  </div>
</div>
