<div class="about-me" id="about-me">
  <span>About me</span>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, blanditiis
    voluptatibus! Quod optio possimus tempora! Consectetur soluta necessitatibus
    quae nulla reprehenderit nemo quas quam? Saepe quod similique non sapiente
    doloribus.
  </p>

  <div class="information">
    <div class="information-first">
      <img src="./assets/img/lamp.png" alt="" />
      <span
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta maiores
        fugit et aspernatur quisquam vel placeat, cumque, temporibus nostrum
        sunt veniam!</span
      >
    </div>

    <div class="information-second">
      <img src="./assets/img/puzzle.png" alt="" />
      <span
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta maiores
        fugit et aspernatur quisquam vel placeat, cumque, temporibus nostrum
        sunt veniam!</span
      >
    </div>
  </div>
</div>
