.about-me{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-top: 104px;
    margin-left: 100px;
    position: relative;  
}

.about-me-headline{
    position: relative;
    z-index: 5;

    >span {
        font-size: 90px;
        font-weight: 700;
        line-height: 108px;
    }
}

.information {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    position: relative;
    z-index: 5;

    >img{
        height: 200px;
        width: 200px;
    }
}

.information-first{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.information-second{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.splash-left{
    position: absolute;
    top: -150px;
    left: 0;
}

.splash-right{
    position: absolute;
    top: -150px;
    right: 0;
}