<section class="portfolio" id="portfolio">
  <div class="portfolio-headline">
    <div class="portfolio-headline-top">
      <div class="red-line"></div>
      <span class="title">{{ "portfolio.title" | translate }}</span>
    </div>
    <div class="portfolio-headline-bottom">
      <div class="empty-space"></div>
      <span class="sub-title">{{ "portfolio.description" | translate }}</span>
    </div>
  </div>

  <div class="portfolio-container">
    <app-projects class="portfolio-container-content"></app-projects>
  </div>

  <div class="splash-right">
    <img src="./assets/img/magenta-portfolio.svg" alt="magenta splash" />
  </div>
  <div class="splash-left">
    <img src="./assets/img/orange-portfolio.svg" alt="orange splash" />
  </div>
</section>
