.portfolio{
    margin-top: 130px;
    position: relative;
}

.portfolio-headline{
    width: 572px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.portfolio-headline-top{
    display: flex;
    align-items: center;
    gap: 50px;
}

.red-line{
    height: 4px;
    width: 8.8%;
    background-color: #FF4747;
}

.title {
    font-size: 90px;
    font-weight: 700;
}

.sub-title{
    margin-left: 100px;
}

.portfolio-container-content{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.splash-right{
    position: absolute;
    top: -250px;
    right: -400px;
}

.splash-left{
    position: absolute;
    bottom: -250px;
    left: -600px;
}
