.portfolio{
    margin-top: 130px;
    position: relative;
}

.portfolio-headline{
    // width: 572px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.portfolio-headline-top{
    display: flex;
    align-items: center;
    gap: 50px;
}

.red-line{
    height: 4px;
    width: 3.8%;
    background-color: #FF4747;
}

.title {
    font-size: 90px;
    font-weight: 700;
}

.portfolio-headline-bottom {
    display: flex;
    align-items: center;
    gap: 50px;
}

.empty-space{
    width: 3.8%;
}

.sub-title{
    width: 35%;
}

.portfolio-container-content{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.splash-right{
    position: absolute;
    top: -250px;
    right: -400px;
}

.splash-left{
    position: absolute;
    bottom: -250px;
    left: -600px;
}

@media (max-width: 390px) {
    .red-line{
        width: 3.5%;
    }

    .portfolio-headline-top {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .title {
        font-size: 45px;
        justify-content: flex-start;
    }

    .portfolio-headline-bottom {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .empty-space {
        width: 3.5%;
    }

    .sub-title {
        width: 80%;
    }

    .portfolio-container-content {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .splash-right {
        top: 100px;
    }
}
