.portfolio{
    margin-top: 130px;
}

.portfolio-headline{
    width: 572px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.portfolio-headline-top{
    display: flex;
    align-items: center;
    gap: 50px;
}

.red-line{
    height: 4px;
    width: 50px;
    background-color: #FF4747;
}

.title {
    font-size: 90px;
    font-weight: 700;
}

.sub-title{
    margin-left: 100px;
}

.portfolio-container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.portfolio-content{
    height: 603px;
    width: 603px;
    border: 1px solid #E86F00;
    border-radius: 15px;
    background-color: #141D2F;
}