<div class="portfolio" id="portfolio">
  <div class="portfolio-headline">
    <div class="portfolio-headline-top">
      <div class="red-line"></div>
      <span class="title">Portfolio</span>
    </div>
    <span class="sub-title"
      >This page is a sample of my work! scroll down to view other projects I
      have developed.</span
    >
  </div>

  <div class="portfolio-container">
    @for (portfolio of portfolio; track $index) {
      <div class="portfolio-content">
        <a href="{{ portfolio.url }}">
          <div class="porfolio-image">
            <img src="{{ portfolio.image }}" alt="" />
          </div>
        </a>
      </div>
    }
  </div>
</div>
