<div class="impressum">
  <h1>Imprint</h1>
  <p>Information according to § 5 DDG of the German Data Protection Act</p>
  <p>
    Dennis Baust<br />
    <br />
    Johann-Straße-Straße 11<br />
    69190 Walldorf <br />
  </p>
  <p>
    <strong>Represented by: </strong><br />
    Dennis Baust<br />
  </p>
  <p>
    <strong>Contact:</strong> <br />
    Phone: 017642641696<br />
    E-Mail:
    <a href="mailto:portfolio@dennis-baust.com"
      >portfolio&#64;dennis-baust.com</a
    ><br />
  </p>
  <p>
    <br /><br /><strong>Liability for links</strong><br /><br />
    Our website contains links to external third-party websites over whose
    content we have no influence. Therefore, we cannot accept any liability for
    this third-party content. The respective provider or operator of the pages
    is always responsible for the content of the linked pages. The linked pages
    were checked for possible legal violations at the time of linking. Illegal
    content was not recognizable at the time of linking. However, permanent
    monitoring of the content of the linked pages is not reasonable without
    concrete evidence of an infringement. If we become aware of any legal
    infringements, we will remove such links immediately.<br /><br /><strong
      >Copyright</strong
    ><br /><br />
    The content and works created by the site operators on these pages are
    subject to German copyright law. Reproduction, editing, distribution and any
    kind of utilization outside the limits of copyright law copyright require
    the written consent of the respective author or creator. Downloads and
    copies of this site are only permitted for private, non-commercial use.
    Insofar as the content on not created by the operator, the copyrights of
    third parties are respected. In particular, third-party content is marked as
    such. Should you nevertheless become aware of a copyright infringement we
    request that you notify us accordingly. If we become aware of legal
    violations, we will remove such content immediately.<br /><br />
  </p>
  Created with
  <a href="https://impressum-generator.de" rel="dofollow"
    >Impressum-Generator.de</a
  >, the tool for imprint and
  <a href="https://impressum-generator.de/datenschutz-generator" rel="dofollow"
    >Privacy Policy</a
  >. After a presentation of the
  <a href="https://www.kanzlei-hasselbach.de/" rel="dofollow"
    >Law firm Hasselbach</a
  >.
</div>
