<div class="header-content">
  <div class="header-left">
    <span>Dennis</span>
  </div>
  <div class="header-right">
    <div class="header-links">
      <a href="#about-me"
        ><span>{{ "header.about" | translate }}</span></a
      >
      <div class="header-links-underline-container">
        <div
          class="header-links-underline"
          [class.v-hidden]="!isActive('#about-me')"
        ></div>
      </div>
    </div>
    <div class="header-links">
      <a href="#skills"
        ><span>{{ "header.skills" | translate }}</span></a
      >
      <div class="header-links-underline-container">
        <div
          class="header-links-underline"
          [class.v-hidden]="!isActive('#skills')"
        ></div>
      </div>
    </div>
    <div class="header-links">
      <a href="#portfolio"
        ><span>{{ "header.portfolio" | translate }}</span></a
      >
      <div class="header-links-underline-container">
        <div
          class="header-links-underline"
          [class.v-hidden]="!isActive('#portfolio')"
        ></div>
      </div>
    </div>
    <div class="header-language">
      <div class="german">
        <span (click)="translate.switchLanguage('de')" (click)="checkLanguage()"
          >DE</span
        >
        <div class="header-links-underline-container">
          <div
            class="language-links-underline"
            [class.v-hidden]="!languageGerman"
          ></div>
        </div>
      </div>
      <span class="pipe">|</span>
      <div class="english">
        <span (click)="translate.switchLanguage('en')" (click)="checkLanguage()"
          >EN</span
        >
        <div
          class="language-links-underline"
          [class.v-hidden]="!languageEnglish"
        ></div>
      </div>
    </div>

    <div
      class="burger-menu"
      (click)="toggleMenu()"
      [class.d-none]="burgerMenuOpen"
    >
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>

    <div
      class="close-mobile-menu"
      (click)="toggleMenu()"
      [class.d-none]="!burgerMenuOpen"
    >
      <img src="./assets/img/Close.png" alt="" />
    </div>
  </div>
</div>

<div
  class="mobile-menu"
  [class.absolute]="burgerMenuOpen"
  [class.d-none]="!burgerMenuOpen"
>
  <div class="mobile-menu-links">
    <div class="mobile-links">
      <a href="#about-me" (click)="toggleMenu()"
        ><span>{{ "header.about" | translate }}</span></a
      >
      <div class="header-links-underline-container">
        <div
          class="header-links-underline"
          [class.v-hidden]="!isActive('#about-me')"
        ></div>
      </div>
    </div>
    <div class="mobile-links">
      <a href="#skills" (click)="toggleMenu()"
        ><span>{{ "header.skills" | translate }}</span></a
      >
      <div class="header-links-underline-container">
        <div
          class="header-links-underline"
          [class.v-hidden]="!isActive('#skills')"
        ></div>
      </div>
    </div>
    <div class="mobile-links">
      <a href="#portfolio" (click)="toggleMenu()"
        ><span>{{ "header.portfolio" | translate }}</span></a
      >
      <div class="header-links-underline-container">
        <div
          class="header-links-underline"
          [class.v-hidden]="!isActive('#portfolio')"
        ></div>
      </div>
    </div>
    <div class="mobile-links">
      <a href="#contacts" (click)="toggleMenu()"
        ><span>{{ "header.contact" | translate }}</span></a
      >
      <div class="header-links-underline-container">
        <div
          class="header-links-underline"
          [class.v-hidden]="!isActive('#contacts')"
        ></div>
      </div>
    </div>

    <div class="mobile-language">
      <div class="german">
        <span (click)="translate.switchLanguage('de')" (click)="checkLanguage()"
          >DE</span
        >
        <div
          class="mobile-language-links-underline"
          [class.v-hidden]="!languageGerman"
        ></div>
      </div>
      <span class="pipe">|</span>
      <div class="english">
        <span (click)="translate.switchLanguage('en')" (click)="checkLanguage()"
          >EN</span
        >
        <div
          class="mobile-language-links-underline"
          [class.v-hidden]="!languageEnglish"
        ></div>
      </div>
    </div>
  </div>
</div>
