.content{
    display: flex;
    flex-direction: column;
}

.header-content {
    color: white;
    padding: 37px 100px 37px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #141D2F;
}

.header-left {
    display: flex;
    gap: 32px;
}

.header-right {
    display: flex;
    gap: 30px;
    font-size: 23px;
    line-height: 27.6px;
}

.header-links-underline-container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.header-links{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    >a{
        text-decoration: none;
        >:hover {
            color: #FA7902;
        }
    }
}

.header-links-underline{
    width: 55.5px;
    border: 3px solid #FF4747;
}

.header-language{
    display: flex;
    gap: 10px;
    font-size: 16px;
}

.german,
.english {
    >span{
        cursor: pointer;
    }
}

.language-links-underline{
    width: 20px;
    border: 1px solid #FF4747;
}

@media (max-width: 1200px) {
    .header-right {
        font-size: 18px;
        gap: 20px;
    }

    .header-language {
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .header-content {
        padding: 37px 25px 37px 25px;
    }

    .header-links{
        display: none;
    }

    .header-language{
        display: none;
    }

    .burger-menu{
        height: 30px;
        width: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 7px;
        cursor: pointer;
    }

    .line{
        height: 3px;
        width: 100%;
        background-color: white;
    }

    .close-mobile-menu{
        height: 30px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .mobile-menu {
        height: 100vh;
        width: 100%;
        background-color: #414856;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mobile-menu-links {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 29px;
    }

    .mobile-links {
        font-size: 23px;

        >a {
            text-decoration: none;
        }
    }

    .mobile-language{
        display: flex;
        gap: 10px;
    }

    .header-links-underline {
        width: 55.5px;
        border: 3px solid #FF4747;
    }

    .mobile-language-links-underline{
        width: 22.5px;
        border: 1px solid #FF4747;
    }
}

.v-hidden {
    visibility: hidden;
}

.d-none {
    display: none;
}

.absolute{
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

