.content{
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #141D2F;
}

.header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
    width: 100%;
    max-width: 1440px;
    z-index: 10;
}

.footer {
    width: 100%;
    max-width: 1440px;
}

.main {
    width: 100%;
    max-width: 1440px;
    position: relative;
    background-color: #141D2F;
    overflow: hidden;
}

.main-content {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 297px;
    padding-right: 50px;
}

h1 {
    font-size: 128px;
    line-height: 153.6px;
}

.title-left-rotate {
    transform: rotate(-90deg);
    width: 325px;
    margin-top: 25px;
    margin-right: -90px;
    display: flex;
    justify-content: center;
}

.title-german{
    font-size: 90px;
    line-height: 108px;
}

.title-english{
    font-size: 90px;
    line-height: 108px;
}

.title-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.title-red-font {
    color: #FE4646;
    font-size: 64px;
    line-height: 76.8px;
}

.contact-me {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.socials-and-scroll-down{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 150px;
    align-items: center;
}

.socials-left{
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.about-me{
    width: 100%;
    position: relative;
}

.splash-top-left {
    position: absolute;
    top: 99px;
    left: -200px;
    z-index: 1;
    >img {
        height: 100%;
        width: 100%;
    }
}

.splash-top-right {
    position: absolute;
    top: 0;
    right: -450px;
    z-index: 1;
    >img {
        height: 100%;
        width: 100%;
    }
}

.v-hidden{
    visibility: hidden;
}

.d-none{
    display: none;
}

@media (max-width: 1056px) {
    h1 {
        font-size: 72px;
        line-height: 86.4px;
    }

    .title-left-rotate {
        margin-top: 15px;
        margin-left: 0;
        
        >span {
            font-size: 48px;
            line-height: 57.6px;
        }
    }

    .title-red-font {
        font-size: 32px;
        line-height: 38.4px;
    }


}

@media (max-width: 768px) {
    h1 {
        font-size: 45px;
            line-height: 54px;
    }

    .title-left-rotate {

        >span {
            font-size: 32px;
                line-height: 38.4px;
        }
    }

    .title-red-font {
        font-size: 24px;
            line-height: 20px;
    }
}

@media (max-width: 575px) {
    .title {
        padding-right: unset;
    }

    .title-left-rotate{
        margin-left: -80px;
        margin-right: -100px;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 45px;
        line-height: 54px;
    }

    .title-left-rotate {
        // width: 66px;

        >span {
            font-size: 32px;
            line-height: 38.4px;
        }
    }

    .title-red-font {
        font-size: 24px;
        line-height: 20px;
    }
}

@media (max-width: 450px) {
    .title {
        width: 100%;
        margin-left: 0px;
    }

    h1 {
        font-size: 45px;
        line-height: 54px;
    }

    .title-left-rotate { 

        >span{
            height: 100%;
            font-size: 32px;
            line-height: 38.4px;
        }
    }

    .title-right {
        display: flex;
        flex-direction: column;
    }

    .title-red-font {
        font-size: 24px;
        line-height: 20px;
    }



    .splash-top-left{
        top: 120px;
        left: -250px;

        >img{
            height: 70%;
            width: 70%;
        }
    }

    .splash-top-right{
        top: 250px;
        right: -630px;
        >img{
            height: 60%;
            width: 60%;
        }
    }
}

@media (max-width: 389px) {
    h1 {
        font-size: 37px;
        line-height: 48px;
    }

    .title-left-rotate {
        >span {
            font-size: 27px;
        }
    }

    .title-red-font {
        font-size: 18px;
    }
}

@media (max-width: 350px) {
    .title{
        margin-right: 10px;
    }
}