<section id="content" class="content">
  <app-header class="header"></app-header>

  <div class="main">
    <div class="main-content">
      <div class="title">
        <div class="title-left-rotate">
          @if (languages.languageGerman) {
            <span class="title-german">Ich bin</span>
          } @else {
            <span class="title-english">I am</span>
          }
        </div>
        <div class="title-right">
          <h1>Dennis Baust</h1>
          <span class="title-red-font">{{ "main.job" | translate }}</span>
        </div>
      </div>

      <div class="contact-me">
        <button (click)="scrollDown()" class="orange-btn">
          {{ "main.button" | translate }}
        </button>
      </div>

      <div class="socials-and-scroll-down">
        <div class="socials-left">
          <app-socials></app-socials>
        </div>
        <app-scroll-down></app-scroll-down>
      </div>
    </div>

    <div class="splash-top-left">
      <img src="./assets/img/red-top-left.svg" alt="" />
    </div>
    <div class="splash-top-right">
      <img src="./assets/img/magenta-top-right.svg" alt="" />
    </div>

    <app-about-me id="about-me"></app-about-me>

    <app-skills></app-skills>

    <app-portfolio></app-portfolio>

    <app-contact id="contacts"></app-contact>
    <app-footer class="footer"></app-footer>
  </div>
</section>
