<section class="content">
  <div class="main">
    <app-header class="header"></app-header>
    <div class="main-content">
      <div class="title">
        <div class="title-left-rotate">
          <span>I am</span>
        </div>
        <div class="title-right">
          <h1>Dennis Baust</h1>
          <span class="title-red-font">FRONTEND DEVELOPER</span>
        </div>
      </div>

      <div class="contact-me">
        <button class="orange-btn">Let's talk!</button>
      </div>

      <div class="socials-and-scroll-down">
        <div class="socials-left">
          <app-socials></app-socials>
        </div>
        <app-scroll-down></app-scroll-down>
      </div>
    </div>

    <div class="splash-top-left">
      <img src="./assets/img/red-top-left.svg" alt="" />
    </div>
    <div class="splash-top-right">
      <img src="./assets/img/magenta-top-right.svg" alt="" />
    </div>

    <app-about-me></app-about-me>

    <app-skills></app-skills>

    <app-portfolio></app-portfolio>

    <app-contact></app-contact>
  </div>

  <app-footer class="footer"></app-footer>
</section>
