@import '../styles/styles.component.scss';

.content{
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #141D2F;
}

.header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
    width: 100%;
    max-width: $maxWidth;
    border-bottom: 5px solid black;
    z-index: 10;
}

.footer {
    width: 100%;
    max-width: $maxWidth;
}

.main {
    min-height: 100vh;
    width: 100%;
    max-width: $maxWidth;
    position: relative;
    background-color: #141D2F;
    overflow: hidden;
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;
}

.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 297px;
}

h1 {
    font-size: 128px;
    line-height: 153.6px;
}

.title-left-rotate {
    transform: rotate(-90deg);
    font-size: 90px;
    line-height: 108px;
}

.title-right {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.title-red-font {
    color: #FE4646;
    font-size: 64px;
    line-height: 76.8px;
}

.contact-me {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.socials-and-scroll-down{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 150px;
    align-items: center;
}

.socials-left{
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.splash-top-left {
    position: absolute;
    top: 99px;
    left: 0;
    height: 608px;
    // width: 572px;
    z-index: 1;

    >img {
        height: 100%;
        width: 100%;
    }
}

.splash-top-right {
    position: absolute;
    top: 0;
    right: 0;
    // height: 573px;
    // width: 679px;
    z-index: 1;

    >img {
        height: 100%;
        width: 100%;
    }
}