<div class="main">
  <app-header class="header"></app-header>
  <div class="main-content">
    <div class="title">
      <div class="title-left-rotate">
        <span>I am</span>
      </div>
      <div class="title-right">
        <h1>Dennis Baust</h1>
        <span class="title-red-font">FRONTEND DEVELOPER</span>
      </div>
    </div>

    <div class="contact-me">
      <button class="orange-btn">Let's talk!</button>
    </div>

    <div class="socials-and-scroll-down">
      <app-socials class="socials"></app-socials>
      <div class="scroll-down">
        <span class="scroll-down-rotate">Scroll down</span>
        <img src="./assets/img/scroll-down.png" alt="scroll down" />
      </div>
    </div>
  </div>
</div>
<app-footer class="footer"></app-footer>
