.privacy-main {
  min-height: 100vh;
  background-color: #141d2f;
}

.privacy-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 100px;
}

.footer {
  display: flex;
  justify-content: center;
}

.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
  width: 100%;
  max-width: 1440px;
  z-index: 10;
}
