.privacy-main{
    min-height: 100vh;
    background-color: #141D2F;
}

.privacy-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.privacy-content{
    width: 85%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1{
    padding: 20px 0 20px 0;
}

h2{
    padding: 20px 0 20px 0;
}

p{
    padding: 10px 0 10px 0;
}

@media (max-width: 550px) {
    .privacy-content {
        font-size: 80%;

        .bfdi{
            font-size: 10px;
        }
    }
}