.social-content{
    height: 40px;
    width: 172%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 42px;
}

.orange-line{
    height: 4px;
    width: 26.8%;
    background-color: #DF6B01;
}

a{
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in-out;

    &:hover{
        transform: scale(1.5);
    }
}

@media (max-width: 767px) {
    .social-content{
        width: 130%;
    }

    .orange-line {
        width: 23%;
    }
}