.social-content{
    height: 40px;
    width: 373px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 42px;
}

.orange-line{
    height: 4px;
    width: 100px;
    background-color: #DF6B01;
}