<section class="skills" id="skills">
  <img class="transition" src="./assets/img/transition.png" alt="" />

  <div class="skill-container">
    @for (skill of skill; track $index) {
      <div class="skill-showcase">
        <img src="{{ skill.image }}" alt="" class="skill-image" />
        <span>{{ skill.name }}</span>
      </div>
    }
  </div>

  <div class="skills-right-side">
    <div class="skills-right-side-top">
      <div class="title">
        <span>{{ "skills.title" | translate }}</span>
      </div>
      <div class="purple-line"></div>
    </div>

    <div class="skills-right-side-bottom">
      <span>{{ "skills.description" | translate }}</span>
    </div>

    <button (click)="scrollDown()" class="orange-btn">
      {{ "skills.button" | translate }}
    </button>
  </div>

  <button (click)="scrollDown()" class="orange-btn-mobile">
    {{ "skills.button" | translate }}
  </button>
</section>
