<form action="" class="contact-form" id="contactMe">
  <div class="input-and-message">
    <div class="input-container">
      <input
        type="text"
        [(ngModel)]="name"
        (focus)="clearPlaceholderName()"
        (blur)="putPlaceholderName()"
        placeholder="Your name"
        [class.success-border]="isValidName()"
        [class.error-border]="name.length < 2 && name !== 'Your name'"
        [ngModelOptions]="{ standalone: true }"
      />
      @if (isValidName()) {
        <img src="./assets/img/success.png" alt="Success" />
      } @else if (name.length < 2) {
        <img src="./assets/img/error.png" alt="Error" />
      }
    </div>
    @if (name.length < 2) {
      <span class="required">Your name is required</span>
    }
  </div>

  <div class="input-and-message">
    <div class="input-container">
      <input
        type="email"
        [(ngModel)]="email"
        (focus)="clearPlaceholderEmail()"
        (blur)="putPlaceholderEmail()"
        placeholder="Your email"
        [class.success-border]="isValidEmail(email)"
        [class.error-border]="!isValidEmail(email) && email !== 'Your email'"
        [ngModelOptions]="{ standalone: true }"
      />
      @if (isValidEmail(email)) {
        <img src="./assets/img/success.png" alt="Success" />
      } @else if (!isValidEmail(email) && email !== "Your email") {
        <img src="./assets/img/error.png" alt="Error" />
      }
    </div>
    @if (!isValidEmail(email) && email !== "Your email") {
      <span class="required">Your email is required</span>
    }
  </div>

  <div class="input-and-message">
    <div class="textarea-container">
      <textarea
        [(ngModel)]="message"
        (focus)="clearPlaceholderMessage()"
        (blur)="putPlaceholderMessage()"
        placeholder="Your message"
        [class.success-border]="isValidMessage()"
        [class.error-border]="!isValidMessage() && message !== 'Your message'"
        [ngModelOptions]="{ standalone: true }"
      ></textarea>
      @if (isValidMessage()) {
        <img src="./assets/img/success.png" alt="Success" />
      } @else if (!isValidMessage() && message !== "Your message") {
        <img src="./assets/img/error.png" alt="Error" />
      }
    </div>
    @if (message.length < 2) {
      <span class="required">Your message is empty</span>
    }
  </div>

  <div class="privacy-check">
    @if (checkmark == false) {
      <img
        src="./assets/img/checkbox-unchecked.png"
        alt=""
        class="checkmark"
        (click)="toggleCheckmark()"
        onmouseover="this.src='./assets/img/checkbox-unchecked-hover.png'"
        onmouseout="this.src='./assets/img/checkbox-unchecked.png'"
      />
    } @else if (checkmark == true) {
      <img
        src="./assets/img/checkbox-checked.png"
        alt=""
        class="checkmark"
        (click)="toggleCheckmark()"
        onmouseover="this.src='./assets/img/checkbox-checked-hover.png'"
        onmouseout="this.src='./assets/img/checkbox-checked.png'"
      />
    }
    <span
      >I've read the
      <span class="red-text">privacy policy</span>
      and agree to the processing of my data as outlined.</span
    >
  </div>
</form>

<div class="contact-btn-container">
  @if (
    checkmark == false ||
    !isValidName() ||
    !isValidEmail(email) ||
    !isValidMessage()
  ) {
    <button
      class="send-contact-btn"
      id="sendContact"
      form="contactMe"
      [style]="{ backgroundColor: '#B6B6B6;', cursor: 'not-allowed' }"
      disabled
    >
      Send message
    </button>
  } @else if (
    checkmark == true &&
    isValidName() &&
    isValidEmail(email) &&
    isValidMessage()
  ) {
    <button
      class="send-contact-btn"
      id="sendContact"
      form="contactMe"
      (click)="messageSend()"
      [style]="{ backgroundColor: '#E86F00' }"
      onmouseover="this.style.transform = 'scale(1.2)'"
      onmouseout="this.style.transform = 'scale(1.0)'"
    >
      Send message
    </button>
  }
</div>
