<form action="" class="contact-form" id="contactMe">
  <div class="input-and-message">
    <div class="input-container">
      <input
        type="text"
        [(ngModel)]="name"
        (focus)="clearPlaceholderName()"
        [placeholder]="name"
        [class.success-border]="isValidName()"
        [class.error-border]="name.length < 2"
        [ngModelOptions]="{ standalone: true }"
      />
      @if (isValidName()) {
        <img src="./assets/img/success.png" alt="Success" />
      } @else if (name.length < 2) {
        <img src="./assets/img/error.png" alt="Error" />
      }
    </div>
    @if (name.length < 2) {
      <span class="required">{{ "contact.nameRequired" | translate }}</span>
    }
  </div>

  <div class="input-and-message">
    <div class="input-container">
      <input
        type="email"
        [(ngModel)]="email"
        (focus)="clearPlaceholderEmail()"
        [placeholder]="email"
        [class.success-border]="isValidEmail(email)"
        [class.error-border]="
          !isValidEmail(email) &&
          email !== 'Your email' &&
          email !== 'Deine Email'
        "
        [ngModelOptions]="{ standalone: true }"
      />
      @if (isValidEmail(email)) {
        <img src="./assets/img/success.png" alt="Success" />
      } @else if (
        !isValidEmail(email) &&
        email !== "Your email" &&
        email !== "Deine Email"
      ) {
        <img src="./assets/img/error.png" alt="Error" />
      }
    </div>
    @if (
      !isValidEmail(email) && email !== "Your email" && email !== "Deine Email"
    ) {
      <span class="required">{{ "contact.emailRequired" | translate }}</span>
    }
  </div>

  <div class="input-and-message">
    <div class="textarea-container">
      <textarea
        [(ngModel)]="message"
        (focus)="clearPlaceholderMessage()"
        [placeholder]="message"
        [class.success-border]="isValidMessage()"
        [class.error-border]="
          !isValidMessage() &&
          message !== 'Your message' &&
          message !== 'Deine Nachricht'
        "
        [ngModelOptions]="{ standalone: true }"
      ></textarea>
      @if (isValidMessage()) {
        <img src="./assets/img/success.png" alt="Success" />
      } @else if (
        !isValidMessage() &&
        message !== "Your message" &&
        message !== "Deine Nachricht"
      ) {
        <img src="./assets/img/error.png" alt="Error" />
      }
    </div>
    @if (message.length < 2) {
      <span class="required">{{ "contact.messageRequired" | translate }}</span>
    }
  </div>

  <div class="privacy-check">
    @if (checkmark == false) {
      <img
        src="./assets/img/checkbox-unchecked.png"
        alt=""
        class="checkmark"
        (click)="toggleCheckmark()"
        onmouseover="this.src='./assets/img/checkbox-unchecked-hover.png'"
        onmouseout="this.src='./assets/img/checkbox-unchecked.png'"
      />
    } @else if (checkmark == true) {
      <img
        src="./assets/img/checkbox-checked.png"
        alt=""
        class="checkmark"
        (click)="toggleCheckmark()"
        onmouseover="this.src='./assets/img/checkbox-checked-hover.png'"
        onmouseout="this.src='./assets/img/checkbox-checked.png'"
      />
    }
    <span
      >{{ "contact.privacyPartOne" | translate }}
      <span class="red-text"
        ><a (click)="navigateToPrivacy()">{{
          "contact.privacy" | translate
        }}</a></span
      >{{ "contact.privacyPartTwo" | translate }}</span
    >
  </div>
</form>

<div class="contact-btn-container">
  @if (
    checkmark == false ||
    !isValidName() ||
    !isValidEmail(email) ||
    !isValidMessage()
  ) {
    <button
      class="send-contact-btn"
      id="sendContact"
      form="contactMe"
      [style]="{ backgroundColor: '#B6B6B6;', cursor: 'not-allowed' }"
      disabled
    >
      {{ "contact.button" | translate }}
    </button>
  } @else if (
    checkmark == true &&
    isValidName() &&
    isValidEmail(email) &&
    isValidMessage()
  ) {
    <button
      class="send-contact-btn"
      id="sendContact"
      form="contactMe"
      (click)="messageSend()"
      [style]="{ backgroundColor: '#E86F00' }"
      onmouseover="this.style.transform = 'scale(1.2)'"
      onmouseout="this.style.transform = 'scale(1.0)'"
    >
      {{ "contact.button" | translate }}
    </button>
  }
</div>
