<form
  (ngSubmit)="onSubmit(contactForm)"
  #contactForm="ngForm"
  class="contact-form"
  id="contactMe"
>
  <div class="input-and-message">
    <div class="input-container">
      <input
        type="text"
        [(ngModel)]="contactData.name"
        (focus)="clearPlaceholderName()"
        [placeholder]="placeholderName"
        [class.success-border]="isValidName()"
        [class.error-border]="
          contactData.name.length < 2 &&
          placeholderName !== 'Your name' &&
          placeholderName !== 'Dein Name'
        "
        [ngModelOptions]="{ standalone: true }"
      />
      @if (isValidName()) {
        <img src="./assets/img/success.png" alt="Success" />
      } @else if (
        contactData.name.length < 2 &&
        placeholderName !== "Your name" &&
        placeholderName !== "Dein Name"
      ) {
        <img src="./assets/img/error.png" alt="Error" />
      }
    </div>
    @if (
      contactData.name.length < 2 &&
      placeholderName !== "Your name" &&
      placeholderName !== "Dein Name"
    ) {
      <span class="required">{{ "contact.nameRequired" | translate }}</span>
    }
  </div>

  <div class="input-and-message">
    <div class="input-container">
      <input
        type="email"
        [(ngModel)]="contactData.email"
        (focus)="clearPlaceholderEmail()"
        [placeholder]="placeholderEmail"
        [class.success-border]="isValidEmail(contactData.email)"
        [class.error-border]="
          !isValidEmail(contactData.email) &&
          placeholderEmail !== 'Your email' &&
          placeholderEmail !== 'Deine Email'
        "
        [ngModelOptions]="{ standalone: true }"
      />
      @if (isValidEmail(contactData.email)) {
        <img src="./assets/img/success.png" alt="Success" />
      } @else if (
        !isValidEmail(contactData.email) &&
        placeholderEmail !== "Your email" &&
        placeholderEmail !== "Deine Email"
      ) {
        <img src="./assets/img/error.png" alt="Error" />
      }
    </div>
    @if (
      !isValidEmail(contactData.email) &&
      placeholderEmail !== "Your email" &&
      placeholderEmail !== "Deine Email"
    ) {
      <span class="required">{{ "contact.emailRequired" | translate }}</span>
    }
  </div>

  <div class="input-and-message">
    <div class="textarea-container">
      <textarea
        [(ngModel)]="contactData.message"
        (focus)="clearPlaceholderMessage()"
        [placeholder]="placeholderMessage"
        [class.success-border]="isValidMessage()"
        [class.error-border]="
          !isValidMessage() &&
          placeholderMessage !== 'Your message' &&
          placeholderMessage !== 'Deine Nachricht'
        "
        [ngModelOptions]="{ standalone: true }"
      ></textarea>
      @if (isValidMessage()) {
        <img src="./assets/img/success.png" alt="Success" />
      } @else if (
        !isValidMessage() &&
        placeholderMessage !== "Your message" &&
        placeholderMessage !== "Deine Nachricht"
      ) {
        <img src="./assets/img/error.png" alt="Error" />
      }
    </div>
    @if (
      contactData.message.length < 2 &&
      placeholderMessage !== "Your message" &&
      placeholderMessage !== "Deine Nachricht"
    ) {
      <span class="required">{{ "contact.messageRequired" | translate }}</span>
    }
  </div>

  <div class="privacy-check">
    <img
      #checkmarkImg
      [src]="
        checkmark
          ? './assets/img/checkbox-checked.png'
          : './assets/img/checkbox-unchecked.png'
      "
      alt="checkmark"
      class="checkmark"
      (click)="toggleCheckmark()"
      (mouseover)="onMouseOver(checkmarkImg)"
      (mouseout)="onMouseOut(checkmarkImg)"
    />
    <span
      >{{ "contact.privacyPartOne" | translate }}
      <span class="red-text"
        ><a routerLink="/privacy-policy" href="#header">{{
          "contact.privacy" | translate
        }}</a></span
      >{{ "contact.privacyPartTwo" | translate }}</span
    >
  </div>

  <div class="contact-btn-container">
    @if (
      checkmark == false ||
      !isValidName() ||
      !isValidEmail(contactData.email) ||
      !isValidMessage()
    ) {
      <button
        class="send-contact-btn"
        id="sendContact"
        [style]="{ backgroundColor: '#B6B6B6;', cursor: 'not-allowed' }"
        disabled
      >
        {{ "contact.button" | translate }}
      </button>
    } @else if (
      checkmark == true &&
      isValidName() &&
      isValidEmail(contactData.email) &&
      isValidMessage()
    ) {
      <button
        class="send-contact-btn"
        id="sendContact"
        type="submit"
        (click)="onExternalSubmit(contactForm)"
        (click)="this.contact.showSendSuccess()"
        [style]="{ backgroundColor: '#E86F00' }"
        onmouseover="this.style.transform = 'scale(1.2)'"
        onmouseout="this.style.transform = 'scale(1.0)'"
      >
        {{ "contact.button" | translate }}
      </button>
    }
  </div>
</form>
