<div class="contact">
  <div class="contact-headline">
    <div class="invisible-line"></div>
    <span class="title">Contact</span>
    <div class="orange-line"></div>
  </div>

  <div class="contact-content">
    <div class="contact-content-left-side">
      <div class="line-and-text">
        <div class="purple-line"></div>
        <span class="text">Got a problem to solve?</span>
      </div>
      <span class="sub-text">.</span>
    </div>
    <div class="contact-content-right-side">
      <form action="" class="contact-form" id="contactMe">
        <input type="text" id="name" placeholder="Your name" />
        <input type="email" id="email" placeholder="Your email" />
        <textarea id="textarea" placeholder="Your message"></textarea>
        <div class="privacy-check">
          <img src="" alt="" class="checkmark" />
          <span
            >I've read the <span class="red-text">privacy policy</span> and
            agree to the processing of my data as outlined.</span
          >
        </div>
      </form>
      <button class="send-contact-btn" id="sendContact" form="contactMe">
        Send message
      </button>
    </div>
  </div>
</div>
