<section class="contacts" id="contacts">
  <div class="contact-headline">
    <div class="invisible-line"></div>
    <span class="title">{{ "contact.title" | translate }}</span>
    <div class="orange-line"></div>
  </div>

  <div class="contact-content">
    <div class="contact-content-left-side">
      <div class="line-and-text">
        <div class="purple-line"></div>
        <span class="text">{{ "contact.problem" | translate }}</span>
      </div>
      <div class="contact-content-left-side-bottom">
        <div class="empty-space"></div>
        <div class="sub-text">
          <span class="my-work-text">{{
            "contact.contactText" | translate
          }}</span>
          <span class="hire-me"
            >{{ "contact.hireMe" | translate }}
            <b>{{ "contact.contactMe" | translate }}</b></span
          >
        </div>
      </div>
    </div>

    <div class="contact-content-right-side">
      <app-contact-form></app-contact-form>
      <div class="back-to-top">
        <a href="#content">
          <img
            src="./assets/img/back-to-top.png"
            alt="back to top"
            onmouseover="this.src='./assets/img/back-to-top-hover.png'"
            onmouseout="this.src='./assets/img/back-to-top.png'"
          />
        </a>
      </div>
    </div>
    <div
      class="contact-send-success"
      [@sendSuccessAnimation]="
        sendMessage.sendSuccessVisible() ? 'visible' : 'hidden'
      "
    >
      {{ "contact.send" | translate }}
    </div>
  </div>
</section>
