.contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    margin-bottom: 50px;
    position: relative;
}

.contact-headline{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    font-size: 90px;
    font-weight: 700;
    line-height: 108px;
}

.invisible-line{
    height: 4px;
    width: 35%;
    background-color: none;
}

.orange-line{
    height: 4px;
    width: 35%;
    background-color: #FF4747;
}

.contact-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    position: relative;
    z-index: 5;
}

.contact-content-left-side{
    width: 43%;
    display: flex;
    flex-direction: column;
}

.purple-line {
    height: 4px;
    width: 8.1%;
    background-color: #D61CE6;
}

.line-and-text{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    >span{
        font-size: 32px;
        font-weight: 700;
        line-height: 38.4px;
    }
}

.contact-content-left-side-bottom{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    gap: 50px;
}

.empty-space{
    height: 4px;
    width: 16.1%;
}

.sub-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-content-right-side{
    width: 43%;
    margin-right: 90px;
}

.back-to-top{
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

@media (max-width: 390px) {
    .title {
        font-size: 45px;
        line-height: 54px;
    }

    .invisible-line {
        width: 21%;
    }

    .orange-line {
        width: 21%;
    }

    .contact-content {
        flex-direction: column;
    }

    .contact-content-left-side {
        width: 100%;
    }

    .purple-line {
        width: 5.1%;
    }

    .line-and-text {
        gap: 10px;

        >span {
            font-size: 23px;
            line-height: 27.6px;
        }
    }

    .contact-content-left-side-bottom {
        gap: 10px;
    }

    .empty-space {
        width: 13.3%;
    }

    .sub-text {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .contact-content-right-side {
        width: 100%;
        margin-top: 70px;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .back-to-top {
        width: 85%;
    }
}