* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

html {
  scroll-padding-top: 150px;
  scrollbar-width: thin;
}

body {
  width: 100%;
}

button {
  cursor: pointer;
  border: none;
}

.orange-btn {
  background-color: #e86f00;
  padding: 15px 30px 15px 30px;
  box-shadow: 4px 4px 4px 0px #00000040;
  border-radius: 10px;
  margin-top: 50px;
  font-size: 23px;
  line-height: 27.6px;
  transform-origin: top left;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.2);
    background-color: #ff4747;
  }
}
