<div class="footer-content">
  <div class="footer-left">
    <span>Dennis</span>
    <span class="impressum">Impressum</span>
  </div>
  <div class="footer-middle">
    <span>©</span>
    <span>Dennis Baust</span>
    <span>2024</span>
  </div>
  <div class="footer-right">
    <div class="socials">
      <a href="https://github.com/Dennis-B1988" target="_blank"
        ><img src="./assets/img/github.png" alt="github"
      /></a>
      <a href=""><img src="./assets/img/e-mail.png" alt="e-mail" /></a>
      <a href="https://www.linkedin.com/in/dennis-baust/" target="_blank"
        ><img src="./assets/img/linkedin.png" alt="linkedin"
      /></a>
    </div>
  </div>
</div>
