<div class="footer-content">
  <div class="footer-left">
    <a routerLink="/"><img src="./assets/img/logo.png" alt="logo" /></a>
    <a
      routerLink="/imprint"
      class="impressum"
      (mouseover)="mouseover = false"
      (mouseout)="mouseover = true"
      >{{ "footer.imprint" | translate }}</a
    >
    <div class="impressum-underline" [class.v-hidden]="mouseover"></div>
  </div>
  <div class="footer-middle">
    <span>©</span>
    <span>Dennis Baust</span>
    <span>2024</span>
  </div>
  <div class="footer-right">
    <div class="socials">
      <a href="https://github.com/Dennis-B1988" target="_blank"
        ><img src="./assets/img/github.png" alt="github"
      /></a>
      <a href=""><img src="./assets/img/e-mail.png" alt="e-mail" /></a>
      <a href="https://www.linkedin.com/in/dennis-baust/" target="_blank"
        ><img src="./assets/img/linkedin.png" alt="linkedin"
      /></a>
    </div>
  </div>
  <div class="footer-bottom-mobile">
    <a
      routerLink="/imprint"
      class="impressum-mobile"
      (mouseover)="mouseover = false"
      (mouseout)="mouseover = true"
      >{{ "footer.imprint" | translate }}</a
    >
    <div class="impressum-underline-mobile" [class.v-hidden]="mouseover"></div>
  </div>
</div>
